body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker {
  stroke: darkgreen;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.marker path {
  fill: darkgreen;
}

.marker.temporary {
  stroke: red;
}

.marker.temporary path {
  fill: red;
}

.popup {
  max-width: 300px;
}
